#forPanorama {
    /* display: none; */
    height: 0px;
}

.block_for_circle_decoration_one {
    position: absolute;
    width: 18%;
    padding-bottom: 18%;
    top: 107%;
    left: 2%;
}

.circle_decoration_one_outside {
    position: absolute;
    width: 80%;
    height: 80%;
    background: rgba(1, 218, 220, .5);
    border-radius: 100%;
    padding: 10%;
}

.circle_decoration_one_inside {
    position: relative;
    background: rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
/*///////////////////////////////////////////////////////////////////////////////////*/
.block_for_circle_decoration_two {
    position: absolute;
    width: 10%;
    padding-bottom: 25%;
    top: 103%;
    right: 0%;
    overflow: hidden;
}

.circle_decoration_two_outside {
    position: absolute;
    width: 215%;
    height: 86%;
    background: rgba(1, 218, 220, .5);
    border-radius: 100%;
    padding: 18%;
}

.circle_decoration_two_inside {
    position: relative;
    background: rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
/*/////////////////////////////////////////////////////////////////////////////////////*/

.block_for_circle_decoration_three {
    position: absolute;
    width: 10%;
    padding-bottom: 25%;
    top: 176%;
    left: 0%;
    overflow: hidden;
    transform: rotate(180deg);
}

.circle_decoration_three_outside {
    position: absolute;
    width: 185%;
    height: 75%;
    background: rgba(1, 218, 220, .5);
    border-radius: 100%;
    padding: 18%;
}

.circle_decoration_three_inside {
    position: relative;
    background: rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

/*////////////////////////////////////////////////////////////////////////////////////////*/

.block_for_circle_decoration_four {
    position: absolute;
    width: 11%;
    padding-bottom: 14%;
    top: 191%;
    right: 0%;
    overflow: hidden;
}

.circle_decoration_four_outside {
    position: absolute;
    width: 99%;
    height: 76%;
    background: rgba(1, 218, 220, .3);
    border-radius: 100%;
    padding: 15%;
}

.circle_decoration_four_inside {
    position: relative;
    background: rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

/*///////////////////////////////////////////////////////////////////////////////////////*/

.block_for_circle_decoration_five {
    position: absolute;
    width: 10.5%;
    padding-bottom: 16%;
    top: 269%;
    left: 0%;
    transform: rotate(180deg);
    overflow: hidden;
}

.circle_decoration_five_outside {
    position: absolute;
    width: 130%;
    height: 80%;
    background: rgba(1, 218, 220, .3);
    border-radius: 100%;
    padding: 15%;
}

.circle_decoration_five_inside {
    position: relative;
    background: rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

/*/////////////////////////////////////////////////////////////////////////////////////*/

.block_for_circle_decoration_six {
    position: absolute;
    width: 17%;
    padding-bottom: 25%;
    top: 240%;
    right: 0%;
    overflow: hidden;
    z-index: 1;
}

.circle_decoration_six_outside {
    position: absolute;
    width: 110%;
    height: 70%;
    border: 30px solid rgba(1, 218, 220, .7);
    border-radius: 100%;
    padding: 8%;
}

.circle_decoration_six_inside {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

/*///////////////////////////////////////////////////////////////////////////////////*/
.block_for_circle_decoration_seven {
    position: absolute;
    width: 15%;
    padding-bottom: 25%;
    top: 398%;
    left: 0%;
    transform: rotate(180deg);
    overflow: hidden;
}

.circle_decoration_seven_outside {
    position: absolute;
    width: 150%;
    height: 85%;
    background: rgba(1, 218, 220, .5);
    border-radius: 100%;
    padding: 12%;
}

.circle_decoration_seven_inside {
    position: relative;
    background: rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
/*/////////////////////////////////////////////////////////////////////////////////////*/

.block_for_circle_decoration_eight {
    position: absolute;
    width: 10%;
    padding-bottom: 25%;
    top: 398%;
    right: 0%;
    overflow: hidden;
}

.circle_decoration_eight_outside {
    position: absolute;
    width: 170%;
    height: 70%;
    background: rgba(1, 218, 220, .5);
    border-radius: 100%;
    padding: 15%;
}

.circle_decoration_eight_inside {
    position: relative;
    background: rgb(240, 240, 240);
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
/*/////////////////////////////////////////////////////////////////////////////////////*/

.sort {
    width: 100%;
    /*border: 1px solid #000;*/
    position: absolute;
}

.sort_type {
    padding-top: 1%;
    width: 100%;
}

.sort_type li {
    width: 12%;
    float: left;
    list-style-type: none;
    font-size: 1.3vw;
    margin-left: 2%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.sort_checkbox {
    width: 8%;
    height: 1.1vw;
    background: rgb(240, 240, 240);
    border: 2px solid #016f8a;
    border-radius: 5px;
    margin-top: 1%;
    margin-right: 4%;
    float: left;
}

.sort_checkbox_active {
    width: 8%;
    height: 1.1vw;
    background: #01dadc;
    border: 2px solid #016f8a;
    border-radius: 5px;
    margin-top: 1%;
    margin-right: 4%;
    float: left;
}
.sort_type p {
    margin-top: 1%;
}

.sort_type input[type=checkbox] {
    position: absolute;
    opacity: 0;
}

#sort_checkbox {
    width: 9.6%;
    height: 1.5vw;
}

.sort_type_checkbox input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 8%;
    height: 0.9vw;
    background: rgb(240, 240, 240);
    border: 2px solid #016f8a;
    border-radius: 5px;
    margin-top: 1%;
}

.sort_type_checkbox input[type="checkbox"]:checked + label::before {
    content: "";
    display: inline-block;
    width: 8%;
    height: 0.9vw;
    background: #01dadc;
    border: 2px solid #302f44;
    border-radius: 5px;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////*/

.posts {
    margin-left: 2%;
    margin-top: 2%;
}

.post {
    position: relative;
    width: 32%;
    float: left;
}

.post_box_primary {
    position: relative;
    width: 100%;
    padding-top: 74%;
    background-color: rgba(69, 227, 229, .0);
    border-radius: 15px;
    float: left;
    /*z-index: 1;*/
    transition: 0.5s;
}

.post_box_midle {
    position: absolute;
    width: 94%;
    padding-top: 71%;
    background-color: rgba(69, 227, 229, .0);
    border-radius: 15px;
    top: 2%;
    left: 3%;
    transition: 0.5s;
}

.post_box_main {
    position: absolute;
    width: 96.5%;
    height: 96%;
    background-image: url(../image/header_image.jpg);
    background-size: cover;
    border-radius: 15px;
    top: 2%;
    left: 1.5%;
    /*z-index: 3;*/
}
.post_box_image {
    width: 90%;
}

.post:hover .post_box_primary {
    transition: 0.5s;
    background-color: rgba(69, 227, 229, .3);
}

.post:hover .post_box_midle {
    transition: 0.5s;
    background-color: rgba(69, 227, 229, .6);
}

.post_box_header {
    width: 96%;
    height: 6vh;
    border-radius: 15px 15px 0px 0px;
    background-color: rgba(1, 111, 138, .4);
    padding: 2%;
}

.post_box_header_title {
    font-size: 1.5vw;
    margin-left: 4%;
}

.post_box_header_title a {
    text-decoration: none;
    color: #ffffff;
}

.post_box_header_title a:hover {
    color: #cfcfcf;
}

.post_box_body {
    position: relative;
    width: 100%;
    padding-top: 50%;
}

.post_box_footer {
    position: absolute;
    width: 100%;
    height: 20%;
    border-radius: 0px 0px 15px 15px;
    background-color: rgba(1, 111, 138, .4);
    bottom: 0;
}

.post_box_footer li {
    width: 20%;
    list-style-type: none;
    margin-left: 5%;
    margin-top: 1%;
    float: left;
}

.post_box_footer_about_logo {
    position: relative;
    width: 35%;
    /*background-color: aqua;*/
    /*padding: 28%;*/
    border-radius: 100%;
    float: left;
    margin-right: 10%;
    margin-top: 10%;
}

.post_box_footer p {
    margin-top: 9%;
    font-size: 1.8vw;
    color: #ffffff;
    float: left;
}

#pagination {
    float: left;
    width: 40%;
    /*border: 1px solid #000;*/
    /*clear: both;*/
    margin-left: 30%;
    margin-bottom: 10%;
    margin-top: 10%;
}

#pagination li {
    list-style-type: none;
    position: relative;
    width: 12%;
    float: left;
    margin-left: 2%;
    /*border: 1px solid #000;*/
    transition: 0.7s;
    cursor: pointer;
}

.pagination_button {
    /*position: relative;*/
    /*float: left;*/
    background-color: rgba(69, 227, 229, .0);
    padding: 55%;
    /*margin-left: -4%;*/
    border-radius: 100%;
}

.pagination_active {
    background-color: rgba(69, 227, 229, .6) !important;
}

#pagination p {
    background-color: rgba(207, 207, 207, 1);
    width: 98%; 
    height: 90%;
    position: absolute;
    top: 0%;
    left: 0%;
    border-radius: 100%;
    font-size: 1.5vw;
    text-align: center;
    margin-left: 6%;
    margin-top: 5%;
    color: #ffffff;
}



#pagination span {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 31%;
}

#pagination li:hover .pagination_button{
    background-color: rgba(69, 227, 229, .3);
    transition: 0.7s;
}

 #pagination li:hover p {
    background-color: rgba(69, 227, 229, .6);
    transition: 0.7s;
}

#pagination .pagination_button_disable .pagination_button {
    background-color: rgba(255, 225, 225, 0);
}

#pagination .pagination_button_disable p {

}

#pagination .pagination_button_disable:hover .pagination_button {
    background-color: rgba(255, 225, 225, 0);
}

#pagination .pagination_button_disable:hover p {
    background-color: #cfcfcf  !important;
}

/* .pagination_three_dots > .pagination_button p {
    background-color: rgba(69, 227, 229, .0);
} 

.pagination_three_dots > .pagination_button {
    background-color: rgba(69, 227, 229, .0);
}

.pagination .pagination_three_dots:hover > .pagination_button {
    background-color: rgba(69, 227, 229, .0);
}

.pagination_three_dots:hover > .pagination_button p {
    background-color: rgba(69, 227, 229, .0);
} */



#bread_crumbs {
    float: left;
    width: 96%;
    padding: 2%;
    background-color: rgb(240, 240, 240);
}

#bread_crumbs ul li {
    list-style: none;
    float: left;
    color: #01dadc;
}

#bread_crumbs ul {
    margin-left: 5%;
}

#bread_crumbs a {
    text-decoration: none;
    color: #01dadc;
}

#bread_crumbs a:hover {
    color: #016f8a;
}

.label_name_and_panoram_box {
    position: relative;
    width: 100%;
    padding-top: 35.5%;
}

.label_name_box {
    position: absolute;
    width: 37%;
    padding-top: 37%;
    top: 19%;
    left: 10%;
}

.label_name_circle_substrate {
    position: absolute;
    top: -10%;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 218, 220, .5);
    border-radius: 100%;
}

.label_name_circle {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    background-color: rgba(1, 218, 220, .8);
    border-radius: 100%;
}

.label_name_title {
    width: 90%;
    color: #ffffff;
    font-size: 2.4vw;
    text-align: center;
    line-height: 2;
    position: relative;
    top: 28%;
    left: 5%;
}

.label_name_about {
    width: 90%;
    position: relative;
    top: 35%;
    left: 35%;
}

.label_name_about li {
    position: relative;
    width: 20%;
    list-style: none;
    float: left;
    color: #ffffff;
    font-size: 2.2vw;
}

.label_name_about li img {
    position: relative;
    width: 45%;

}

.label_panoram_circle_substrate {
    background-color: rgba(1, 218, 220, .5);
    position: absolute;
    width: 8%;
    padding: 1%;
    border-radius: 100%;
    left: 80%;
    top: 85%;
    cursor: pointer;
}

.label_panoram_circle_substrate {
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-name: circle_pulsar;
}

@keyframes circle_pulsar {
  0% {background-color: rgba(1, 218, 220, .6);}
  50% {background-color: rgba(1, 218, 220, .0)}
  100% {background-color: rgba(1, 218, 220, .6)}

}

.label_panoram_circle  {
    position: relative;
    background-color: rgba(1, 218, 220, 1);
    padding: 10%;
    border-radius: 100%;
}

.label_panoram_circle img {
    width: 100%;
}

.label_data_box {
    position: absolute;
    width: 10%;
    padding-top: 10%;
    top: 13%;
    left: 37%;
}

.label_data_circle_substrate {
    background-color: rgba(1, 111, 138, .5);
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 2%;
    border-radius: 100%;
    top: 0%;
    left: 0%;
    
}

.label_data_circle  {
    position: absolute;
    background-color: rgba(1, 111, 138, 1);
    /*padding: 10%;*/
    width: 75%;
    height: 75%;
    border-radius: 100%;
    top: 12.5%;
    left: 12.5%;
}

.label_data_day {
    position: absolute;
    top: 10%;
    left: 25%;
    color: #ffffff;
    font-size: 3.3vw;

}

.label_data_month {
    position: absolute;
    width: 100%;
    top: 60%;
    left: 0%;
    color: #ffffff;
    font-size: 1vw;
    text-align: center;
}

.information_about_place_title {
    width: 50%;
    text-align: center;
    color: #302f44;
    font-weight: 700;
    font-size: 2vw;
    font-family: sans-serif;
    letter-spacing: 5px;
    margin-top: 2%;
    margin-left: 24%;
}

.information_about_place_text {
    position: relative;
    width: 50%;
    text-align: left;
    line-height: 1.6;
    color: #302f44;
    border-left: 3px solid rgba(1, 218, 220, 1);
    padding: 0px 0px 0px 15px;
    margin-left: 24%;
    margin-top: 3%;
    margin-bottom: 5%;  
}

.information_about_place_text p {
    position: relative;
    font-size: 1vw;
    line-height: 1.8; 
}

.tags a {
    border: 2px solid rgba(1, 218, 220, 1);
    background-color: rgb(240, 240, 240);
    float: left;
    border-radius: 30px;
    padding: 0.7%;
    margin-left: 2%;
    margin-bottom: 3%;
    font-size: 1vw;
}

.tags a {
    text-decoration: none;
    color: rgba(1, 218, 220, 1);
}

.tags a:hover {
    background-color: rgba(1, 218, 220, 1);
    color: rgb(240, 240, 240);
}

.tags ul {
    margin-left: 22%;
}

.tags ul li {
    list-style: none;
}

.rate {
    width: 30%;
    padding: 1%;
    float: left;
    margin-top: -25%;
}

.rate p {
    font-size: 2vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
}

.rate ul {
    margin-left: 17%;
}

.rate ul li {
    list-style: none;
    float: left;
    width: 15%;
    /*margin-right: 5%;*/
    border: 1px solid #000;
}

.rate img {
    width: 100%;
}

.star_empty {
    display: block;
}

.star_full {
    display: none;
}

.rate_and_sotial_networks li:hover .star_empty {
    display: none;
}

.rate_and_sotial_networks li:hover .star_full {
    display: block;
}

.sotial_networks {
    width: 30%;
    padding: 1%;
    float: left;
    margin-top: -25%;
    margin-left: 50%;
}

.sotial_networks_title {
    font-size: 2vw;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 0.7%;
}

.sotial_networks ul {
    float: left;
    width: 100%;
    height: 6vh;
    margin-left: 27%;
}

.sotial_networks li {
    list-style: none;
    border: 1px solid #000;
    width: 22%;
    height: 100%;
    float: left;
}


.panoram {
    position: relative;
}

.panoram iframe {
    width: 100%;
    /* height: 1080px;  */
    position: relative;
    top: -9%;
} 

.module_panoram {
    position: absolute;
    width: 100%;
    top: 1%; 
}

.module_panoram_close {
    cursor: pointer;
}

.module_panoram_close img {
    width: 2%;
    position: absolute;
    right: 2%;
    top: 20px;
}

.name_and_panoram_bg {
    position: absolute;
    width: 100%;
    /* height: 1080px; */
}

#map {
    position: relative;
    width: 100%;
    height: 100vh;
    /* z-index: 1; */
}