#sight_name_and_panoram {
    float: left;
    width: 100%;
    height: 90vh;
    /* background-image: url(../image/video.jpg);
    background-size: cover; */
}

.sight_label_name_rate {
    left: 40%;
}

#sight_about {
    width: 100%;
    float: left;
}

#sight_types {
    width: 100%;
    float: left;
}

#sight_map {
    width: 100%;
    height: 100vh;
    float: left;
    background-color: rgb(240, 240, 240);
}

.sight_map_bg img {
    position: absolute;
    width: 100%;
    height: auto;
}

.sight_map_miniature_box {
    position: relative;
    width: 10%;
    padding-top: 10%;
    border-radius: 100%;
    top: 10%;
    left: 10%;
}

.sight_map_miniature_box img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.sight_map_buttons {
    position: relative;
    width: 12%;
    top: -20%;
    left: 85%;
    /* z-index: 2; */
}

.sight_map_buttons li {
    list-style: none;
    margin-bottom: 20%;
    text-align: right;
}

.sight_map_button_foot {
    position: absolute;
    background-color: rgb(105, 43, 118);
    border-radius: 30px;
    padding: 6% 16%;
    font-size: 1.2vw;
    color: #ffffff;
    cursor: pointer;
    right: 0;
}

.sight_map_button_foot:hover {
    background-color: rgb(105, 43, 118);
    color: #ffffff;
}

.sight_map_button_house {
    position: absolute;
    background-color: rgb(50, 217, 174);
    border-radius: 30px;
    padding: 6% 13%;
    font-size: 1.2vw;
    color: #ffffff;
    cursor: pointer;
    right: 0;
    margin-top: 40%;
    /* text-align: center;  */
}

.sight_map_button_house:hover {
    background-color: rgb(50, 217, 174);
    color: #ffffff;
}


/*.tour_map_main_circle_inside {
    position: absolute;
    background-color:  #ffffff;
    width: 90%;
    padding-top: 90%;
    border-radius: 100%;
    top: 0%;
    left: 0%;
}*/


#sight_share_rate {
    float: left;
    width: 100%;
    padding-top: 30%;
}